:root {
  --title-font: "Cinzel", serif;
  --body-font: "Poppins", sans-serif;
  --bg-color: #f5f5f5;
  --primary-color: #606470;
  --secondary-color: #7d488d;
}

body {
  font-family: var(--body-font);
  text-align: center;
  background-color: var(--bg-color);
  padding: 80px 20px;
}

h1 {
  font-family: var(--title-font);
  font-size: 80px;
  line-height: 1;
  letter-spacing: 1px;
}

h2 {
  font-size: 24px;
  line-height: 1;
  font-weight: normal;
  opacity: 0.8;
  letter-spacing: 1px;
}

h3 {
  font-size: 28px;
}

h4 {
  text-align: left;
}

p {
  text-align: left;
  font-weight: 300;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

img {
  width: 100%;
  height: auto;
}

footer .footer-text {
  margin: 15px 30px;
  color: #ffffff;
}

footer .git-link {
  color: #ffffff;
  text-decoration: none;
}

footer .git-link:hover {
  text-decoration: underline;
}

img .custom-bg {
  background-color: var(--bg-color);
  padding: 10px;
}

.navbar-brand {
  font-family: var(--title-font);
}

.nav-item {
  padding: 0 10px;
}
.contact-link {
  border-radius: 15px;
  font-size: 14px;
  margin-top: 45px;
  padding: 10px 30px;
  line-height: 27px;
  transition: 8ms;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.custom-slide-bg {
  background-color: var(--bg-color);
  padding: 40px;
}

/*homepage eye icon and github icon start*/

.visit-page-box {
  text-align: left;
}

.visit-page-box a {
  font-size: 35px;
  color: var(--primary-color);
  transition: all 300ms ease-in-out;
  text-decoration: none;
  margin-right: 20px;
}

.visit-page-box a:hover {
  color: var(--secondary-color);
  font-size: 50px;
}

/*homepage eye icon and github icon end*/

/*projects page eye icon and github icon start*/
.project-icons a {
  font-size: 30px;
  color: var(--primary-color);
  transition: all 300ms ease-in-out;
  text-decoration: none;
  margin-right: 20px;
}

.project-icons a:hover {
  color: var(--secondary-color);
  font-size: 45px;
}
/*project page eye icon and github icon end*/

.page-break {
  margin: 100px 0 0;
}

/*about me box start*/

.icons {
  width: 50px;
  height: 50px;
}

.volume-icon {
  font-size: 20px;
  color: #ffffff;
  margin: 16px 10px;
}

.card-box {
  border: 1px solid;
  border-radius: 10px;
  border-color: transparent;
  padding: 5px;
  max-width: 1200px;
  line-height: 1.5;
}

.certificate-headings {
  font-size: 20px;
}

.certificate-links {
  color: var(--primary-color);
  transition: all 300ms ease-in-out;
  text-decoration: none;
  font-style: italic;
}

.certificate-links:hover {
  color: var(--secondary-color);
  font-weight: 600;
  text-decoration: underline;
}

.text-body {
  background-color: #e9e8e8;
}

.icon-cat {
  color: var(--secondary-color);
  font-size: 24px;
  transition: all 300ms ease-in-out;
}

.icon-cat:hover {
  font-size: 35px;
}

.hint-cat {
  color: var(--secondary-color);
  font-size: 20px;
}

.git-link {
  color: #000000;
  text-decoration: none;
}

.git-link:hover {
  text-decoration: underline;
}
/*about me box end*/

.portfolio-project-text {
  line-height: 1.5;
}

.contact-icons {
  font-size: 50px;
  color: var(--primary-color);
  transition: all 300ms ease-in-out;
}

.contact-icons:hover {
  color: var(--secondary-color);
  font-size: 70px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 22px;
  }
  p {
    font-size: 12px;
  }

  .certificate-headings {
    font-size: 16px;
  }

  .visit-page-box a {
    font-size: 35px;
  }

  .visit-page-box a:hover {
    font-size: 45px;
  }

  .contact-icons {
    font-size: 35px;
  }

  .volume-icon {
    font-size: 16px;
  }
}
